/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
*.nl.v
.git/objects/pack/pack-1b8f9dc9a71bd8c4309008edb1136f894a2332e4.pack
caravel/gds/caravel.gds
caravel/.git/objects/pack/pack-7cf9361befb563770b35fab2fd47a9dbe0a77f71.pack
